name: Release
on:
  push:
    tags:
      - "*"
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Build
        run: |
          nix develop --command bash -c '
            sed -i "s|{/\* VERSION \*/}.*|${GITHUB_REF##*/}|g" src/index.jsx

            npm ci
            npm run build

            NAME=${GITHUB_REPOSITORY##*/}
            mv build $NAME
            zip -r $NAME.zip $NAME
          '

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: "*.zip"
